* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

button, input {
    font: inherit;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}


.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}

.text-center {
    text-align: center !important;
}

.text-grey {
    color: grey !important;
}

.text-white {
    color: white !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.black-btn {
    background: #000;
    padding: 8px 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.black-btn:hover {
    background: lightgray;
    color: #000;
}

.linkable {
    color: inherit;
}

.linkable:hover {
    opacity: 0.6;
}

/* CSS elements */

:root {
    --header-height: 48px;
}

#header {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: var(--header-height);
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
    position: relative;
    line-height: var(--header-height);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#nav a {
    text-decoration: none;
    display: block;
}

#nav > li > a {
    text-transform: uppercase;
    color: white;
    padding: 0 20px;;
}

#nav > li:hover,
.sub-nav li:hover {
    background: lightgrey;
}

#nav li:hover a,
 .sub-nav li:hover a {
    color: black;
}

#nav .sub-nav {
    display: none;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    min-width: 140px;
    position: absolute;
    top: 100%;
    left: 0;
}

#nav .sub-nav li {
    padding: 0 12px;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .more-icon {
    font-size: 12px;
}

#nav li .sub-nav a {
    text-transform: capitalize;
    line-height: 40px;
    display: block;
}

#header #menu-icon,
#header #search-icon {
    line-height: var(--header-height);
    padding: 0 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#header #menu-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

#header #search-icon:hover {
    display: inline;
    background: red;
}

#header #menu-icon:hover {
    background: #fff;
    color: #000;
}

#slider {
    background: url( ../img/sliders/slider1.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
    margin-top: var(--header-height);
    text-shadow: 0 0 1px #000;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
}

#slider .text-heading {
    margin-bottom: 16px;
    font-weight: 400;
}

.content-section  {
    padding: 74px 0 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-heading {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
}

.content-sub-heading {
    font-weight: 400;
    font-style: italic;
    margin-top: 24px;
    margin: 15px 0;
}

#content .about-text {  
    text-align: justify;
    line-height: 1.4;
}

#content .members {
    margin-top: 32px;
}

#content .member-name {
    margin-bottom: 12px;
}

.members div img {
    width: 60%;
    border-radius: 4px;
}

#content .tours {
    background: #000;
}

.tours .content-heading {
    color: white;
}

.tours .tickets-list {
    background: #fff;
    margin: 32px 0 16px; 
}

.tours .ticket-item {
    padding: 8px 16px;
    display: block;
    position: relative;
}

.tours .ticket-item + .ticket-item {
    border-top: 1px solid lightgrey;
}

.tours .sold-out {
    background: #ff3300;
    display: inline-block;
    padding: 3px 5px;
    margin-left: 12px;
}

.tours .ticket-quantity {
    float: right;
    background: #000;
    padding: 3px 8px;
    border-radius: 50%;
    margin-top: -4px;
}

.places .place-item .place-body {
    padding: 8px 16px;
    background: #fff;
}

.place-item .place-body > p {
    margin: 16px 0;
}

.place-item .place-img {
    width: 100%;
    display: block;
}

.place-item .place-img:hover {
    opacity: 0.6;
}

.place-item .place-body .place-heading {
    font-weight: bold;
}

.place-item .place-body .place-date {
    opacity: 0.4;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0.4;
        transform: translateY(-120px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-container {
    --teal: #009688;
    background: #fff;
    min-height: 180px;
    width: 900px;
    max-width: calc(100% - 40px);
    margin-bottom: 120px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-container .modal-header {
    background: var(--teal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header .modal-heading {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 40px 0;
}

.modal-header .modal-heading .heading-icon {
    margin-right: 12px;
}

.modal-header .close-btn {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-header .close-btn:hover {
    opacity: 0.8;
}

.modal-container .modal-body,
.modal-container .modal-footer {
    padding: 16px;   
}

.modal-body .form-group {
    margin-bottom: 20px;
}

.modal-body .pay-btn,
.modal-body .form-group > * {
    display: block;
    width: 100%;
}

.form-group > label {
    margin-bottom: 4px;
}

.form-group > label > i {
    margin-right: 4px;
}

.form-group > input {
    padding: 12px 8px;
    border: 1px solid lightgray;
    font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.modal-body .pay-btn {
    padding: 12px 0;
    background: var(--teal);
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: -16px;
    text-transform: uppercase;
}

.modal-body .pay-btn:hover {
    opacity: 0.8;
}

.modal-container .modal-footer {
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.contact-content {
    margin: 52px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.contact-form .send-btn {
    text-transform: uppercase;
    float: right;
}

.map-section > img {
    padding-top: 60px;
    width: 100%;
}

#footer {
    margin: 68px 0;
}

#footer .social-networks > a {
    text-decoration: none;
    padding: 10px 5px;
    font-size: 20px;
}

#footer .copyright {
    margin: 16px 0 24px;
}

#footer .copyright a {
    padding: 12px 0;
    display: inline-block;
}